<template>
  <div>
    <nav class="navbar navbar-expand-lg fixed">
      <div class="container ">
        <a class="navbar-brand" href="#"
          ><img class="logo" src="../assets/insta.png"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
          </form>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link" href="#"
                ><svg
                  class="icon active"
                  xmlns:dc="http://purl.org/dc/elements/1.1/"
                  xmlns:cc="http://creativecommons.org/ns#"
                  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                  xmlns:svg="http://www.w3.org/2000/svg"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                  xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                  version="1.1"
                  x="0px"
                  y="0px"
                  viewBox="0 0 100 125"
                >
                  <g transform="translate(0,-952.36218)">
                    <path
                      style="text-indent:0;text-transform:none;direction:ltr;block-progression:tb;baseline-shift:baseline;color:#000000;enable-background:accumulate;"
                      d="m 48.781207,968.77024 -30.999999,23.99935 c -0.486,0.37357 -0.7836,0.98073 -0.7812,1.59371 l 0,39.9989 c 10e-5,1.0472 0.9528,1.9999 2,2 l 20.999999,0 c 1.0472,-10e-5 1.9999,-0.9528 2,-2 l 0,-14 c 0,-4.4665 3.5334,-7.9998 8,-7.9998 4.4666,0 8,3.5333 8,7.9998 l 0,14 c 1e-4,1.0472 0.9528,1.9999 2,2 l 21,0 c 1.0472,-10e-5 1.9999,-0.9528 2,-2 l 0,-39.9989 c 0,-0.61298 -0.2952,-1.22014 -0.7812,-1.59371 l -31,-23.99935 c -0.747,-0.58507 -1.7897,-0.50168 -2.4376,0 z m 1.2188,4.09364 29,22.46814 0,37.03028 -17,0 0,-12.0001 c 0,-6.6133 -5.3866,-11.9997 -12,-11.9997 -6.6134,0 -12,5.3864 -12,11.9997 l 0,12.0001 -16.999999,0 0,-37.03028 z"
                      fill="#000000"
                      fill-opacity="1"
                      stroke="none"
                      marker="none"
                      visibility="visible"
                      display="inline"
                      overflow="visible"
                    />
                  </g>
                </svg>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#"
                ><img class="icon" src="../assets/send.svg" width="25" />
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#"
                ><img class="icon" src="../assets/explore.svg" width="25" />
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#"
                ><img class="icon" src="../assets/heart.svg" width="25" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: "Header"
};
</script>

<style lang="scss" scoped>
nav.navbar {
  padding: 7px 150px;
  background-color: #ffffff;
  border-bottom: 1px solid rgb(175, 175, 175);
  img.logo {
    padding-right: 250px;
  }

  svg {
    width: 25px;
    margin-right: 15px;
    svg.icon.active {
      fill: #000;
      cursor: pointer;
    }
  }
  img.icon {
    margin-right: 15px;
  }
}
</style>
