<template>
  <div id="post">
    <div
      class="instagram-card"
      v-for="post in posts.slice(0, 30)"
      :key="post.id"
      ref="users"
    >
      <div class="instagram-card-header">
        <img :src="post.urlToImage" class="instagram-card-user-image" />
        <a
          class="instagram-card-user-name"
          :href="'{{ post.url }}'"
          v-readMore:25="post.title"
        >
        </a>
        <div class="instagram-card-time">
          <img src="../assets/details.svg" width="22" />
        </div>
      </div>

      <div class="instagram-card-image">
        <img :src="post.urlToImage" />
      </div>

      <div class="instagram-card-content">
        <div class="d-flex justify-content-between">
          <div>
            <a><img src="../assets/heart.svg" width="25"/></a>
            <a
              ><img
                src="../assets/comment.svg"
                width="25"
                v-on:click="getComments()"
            /></a>

            <a><img src="../assets/send.svg" width="25"/></a>
          </div>
          <div>
            <a
              ><img
                src="../assets/book_mark.svg"
                width="25"
                @click="addBookmark()"
            /></a>
          </div>
        </div>

        <p
          class="instagram-card-content-user"
          v-readMore:25="post.description"
        ></p>

        <hr />
      </div>

      <div class="instagram-card-footer">
        <input
          class="comments-input"
          type="text"
          placeholder="Add Comments...."
        />
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Post",
  data() {
    return {
      posts: []
    };
  },
  created() {
    this.getPost();
  },
  mounted() {
    this.$nextTick(function() {
      window.addEventListener("scroll", this.onScroll);
      this.onScroll();
    });
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.onScroll);
  },
  methods: {
    onScroll() {
      var usersHeading = this.$refs["users"];
      if (usersHeading) {
        var marginTopUsers = usersHeading.getBoundingClientRect().top;
        var innerHeight = window.innerHeight;

        if (marginTopUsers - innerHeight < -10) {
          this.getPost();
        }
      }
    },
    getPost() {
      let url;
      url =
        "http://newsapi.org/v2/everything?q=bitcoin&from=2020-05-04&sortBy=publishedAt&apiKey=073cf51811a04dc0beef0aaea53af671 ";
      axios.get(url).then(response => {
        this.posts = response.data.articles;
        console.log(this.posts);
      });
    },
    getComments() {
      let url;
      url = "http://cookbookrecipes.in/test.php";
      fetch(url)
        .then(response => response.text())
        .catch(() =>
          console.log("Can’t access " + url + " response. Blocked by browser?")
        );
    },
    addBookmark() {
      let dataString = localStorage.posts;
      let data = JSON.parse(dataString);
      this.posts = data;
      this.writeOnLocalStorage();
    },
    writeOnLocalStorage() {
      let dataString = JSON.stringify(this.posts);
      localStorage.posts = dataString;
    }
  }
};
</script>

<style lang="scss" scoped>
.instagram-card {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

.instagram-card-header {
  padding: 20px;
  height: 40px;
}

.instagram-card-user-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.instagram-card-time {
  float: right;
  width: 80px;
  padding-top: 5px;
  text-align: right;
  color: #999;
}
.instagram-card-image {
  padding-top: 30px;
  img {
    width: 600px;
  }
}
.instagram-card-user-name {
  margin-left: 20px;
  font-weight: bold;
  color: #262626;
}

.instagram-card-content {
  padding: 20px;
}

.Likes {
  font-weight: bold;
}

.instagram-card-content-user {
  font-weight: 300;
  color: #262626;
  a {
    cursor: pointer;
    color: #003569;
  }
}

.hashtag {
  color: #003569;
}

.comments {
  color: #999;
}

.user-comment {
  color: #003569;
}

.instagram-card-footer {
  padding: 20px;
  display: flex;
  align-items: center;
}

hr {
  border: none;
  border-bottom: 1px solid #ccc;
  margin-top: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.footer-action-icons {
  font-size: 16px;
  color: #ccc;
}

.comments-input {
  border: none;
  margin-left: 10px;
  width: 100%;
}
</style>
