<template>
  <div id="app">
    <Header></Header>
    <Post></Post>
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import Post from "./components/Post.vue";
export default {
  name: "app",
  components: {
    Header,
    Post
  }
};
</script>

<style lang="scss">
#app {
  background-color: rgb(238, 234, 234);
}
</style>
